.menlink{
    text-decoration: none;
    color: black;
}
.productdiv img{
  height: 360px;
  width: 100%;
  border-radius: 20px;
}
.productdiv h3{
    margin: 0%;
    padding: 0%;
}
.productdiv p{
    margin: 0%;
    padding: 0%;
}
.productdiv{
  /* border: 1px solid black; */
  padding: 10px;
  box-sizing: border-box;
  width: 300px;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
  line-height: 27px;
 
}
.productsdiv{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    width: 93%;
    box-sizing: border-box;
    margin: auto;
    
}

.cartdiv{
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cartbtn{
  background-color: rgb(184, 184, 248);
  height: 35px;
  width: 300px;
  border-radius: 10px;
  color: rgb(68, 41, 41);
  font-size: 15px;
  border: none;
  font-weight: 600;
}